:root{ 
    --color-black: #263238; 
    --color-primary: #28cb8b;
    --color-D_Grey: #4d4d4d;
    --color-Grey: #717171;
    --color-L_Grey: #89939e;
    --color-Grey-blue: #abbed1;
    --color-silver: #f5f7fa;
    --color-white: #FFFFFF;
    --color-Bprimary: #4caf4f;
    

    --font-family-b: DMB;
	--font-family-m: DMM; 
	--font-family-gl: QR; 
    --font-family-Treb: 'Trebuchet MS';
    --font-family-Geor: 'Georgia';

    --animation-speed: .6s;
	--animation-func: ease;
	--animation: var(--animation-speed) var(--animation-func);
}

body{
    margin: 0;
}
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}